<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>production</key>
	<dict>
		<key>publicKey</key>
		<string></string>
		<key>privateKey</key>
		<string></string>
		<key>appName</key>
		<string></string>
		<key>appSubdomain</key>
		<string></string>
		<key>domain</key>
		<string>stackmob.com</string>
		<key>userObjectName</key>
		<string>user</string>
		<key>apiVersion</key>
		<integer>1</integer>
	</dict>
	<key>development</key>
	<dict>
		<key>publicKey</key>
		<string></string>
		<key>privateKey</key>
		<string></string>
		<key>appName</key>
		<string></string>
		<key>appSubdomain</key>
		<string></string>
		<key>domain</key>
		<string>stackmob.com</string>
		<key>userObjectName</key>
		<string>user</string>
		<key>apiVersion</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
